{# src/DEUSI/PlatformBundle/Resources/views/Advert/view.html.twig #}

{% extends "@DEUSIPlatform/layout.html.twig" %}

{% block title %}
  Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block deusiplatform_body %}
    {# On vérifie qu'une image soit bien associée à l'annonce #}
    {% if advert.image is not null %}
      <img src="{{dir_web}}/{{ advert.image.url }}" alt="{{ advert.image.alt }}">
    {% endif %}

    <h2>{{ advert.title }}</h2>
    <i>Par {{ advert.author }}, le {{ advert.date|date('d/m/Y') }}</i>

    <div class="well">
        {{ advert.content }}        
    </div>
    <ul>
        Candidatures
    {% for listApplication in listApplications %}
        <li>{{ listApplication.author|e }}</li>
        <i>{{ listApplication.content }}, le {{ listApplication.date|date('d/m/Y') }}</i>
    {% endfor %}
  </ul>
    <p>
      <a href="{{ path('deusi_platform_home', {'page': 1}) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Retour à la liste
      </a>
      <a href="{{ path('deusi_platform_edit', {'id': advert.id}) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-edit"></i>
        Modifier l'annonce
      </a>
      <a href="{{ path('deusi_platform_delete', {'id': advert.id}) }}" class="btn btn-danger">
        <i class="glyphicon glyphicon-trash"></i>
        Supprimer l'annonce
      </a>
    </p>

{% endblock %}

{% block js %}
{% set anew = new %}
{% set idnew = idnew %}
<script type="text/javascript">
    let anew = {{ anew }};
    let idnew = {{ idnew }};
    if(typeof(anew) !== 'undefined'){
        if(anew === 1 ){
            alert('une nouvelle annonce_'+anew + idnew);
            askPermission(idnew);
        } else {
             alert('PAS de nouvelle annonce_'+anew);
        }
    } else {
        alert('exist pas');
    }    
</script>
{% endblock %}